/* 标签设置 */
.code-editor {
    margin: 0;

    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;

    font-size: 1.6rem;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tabs {
    display: flex;
    flex-flow: nowrap row;
    background-color: hsl(270, 20%, 22%);
    white-space: nowrap;
}

.tab {
    flex: 1;
    text-align: center;
    line-height: 2;
    margin: 0 1.5px;

    color: hsl(0, 0%, 70%);
    background-color: hsl(270, 21%, 19%);
    overflow: hidden;

    padding: 3px;
    padding-bottom: 0px;
    cursor: pointer;
}

.tab:first-child {
    margin-left: 0;
}

.tab:last-child {
    margin-right: 0;
}

.tab:hover {
    background-color: hsl(270, 21%, 26%);
}

.tab.enable {
    color: white;
    border-bottom: 3px solid hsl(280, 90%, 50%);
    background-color: hsl(270, 21%, 14%);
}

/* 内容设置 */
.panels {
    flex: 1;
    background-color: hsl(270, 15%, 17%);
    color: white;
    overflow: auto;
    scroll-behavior: smooth;

}

.panels code {
    padding: 1rem 1rem;
    display: none;
    white-space: pre;

    font-size: 1.5rem;
    font-family: Consolas, "Courier New", monospace;
}

.panel.enable {
    display: block;
}

/* 底栏设置 */
.code-editor .footer {
    background-color: hsl(270, 20%, 22%);
}

.apply-code {
    float: right;
    width: 20%;
    line-height: 2;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;

    font-size: 1.6rem;
    border: none;
    background-color: rgb(77, 207, 77);
    color: white;
    -webkit-text-stroke-width: 0px;
}

.apply-code:hover {
    background-color: rgb(112, 226, 112);
}

.apply-code:active {
    background-color: rgb(45, 163, 45);
}

/* resize */
.code-editor .resize-handler {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    width: 5px;
    left: -1px;
    cursor: ew-resize;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.code-editor .resize-handler:hover {
    background-color: hsl(270, 15%, 30%);
    z-index: 10;
}


.toggle-code {
    position: absolute;
    bottom: 5px;
    left: -40px;
    width: 40px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rebeccapurple;
    cursor: pointer;
}

.toggle-code:hover {
    background-color: hsl(280, 90%, 50%);
}

.toggle-code.iconfont {
    font-size: 3rem;
    line-height: 100px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 0px;
}