/* 标签设置 */
.code-editor {
    margin: 0;

    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;

    font-size: 1.6rem;
}

.tabs {
    display: flex;
    flex-flow: nowrap row;
    background-color: hsl(270, 20%, 22%);
}

.tab {
    flex: 1;
    text-align: center;
    line-height: 2;
    /* border-radius: 10px 10px 0 0; */
    margin: 0 1.5px;
    background-color: hsl(270, 21%, 19%);
    color: white;
    overflow: hidden;
    white-space: nowrap;

    padding: 3px;
    padding-bottom: 0px;
    cursor: pointer;
}

.tab:first-child {
    margin-left: 0;
}

.tab:last-child{
    margin-right: 0;
}

.tab:hover {
    background-color: hsl(270, 21%, 26%);
}

.tab.enable {
    border-bottom: 3px solid hsl(280, 90%, 50%);
    background-color: hsl(270, 21%, 14%);
}

/* 内容设置 */
.panels {
    flex: 1;
    background-color: hsl(270, 15%, 17%);
    color: white;
    overflow: auto;
    scroll-behavior: smooth;
    

    font-family: 'Courier New', Courier, monospace;
}

.panel {
    padding: 1rem 1rem;
    display: none;
    white-space: pre;

    font-size: 1.4rem;
}

.panel.enable {
    display: block;
}

/* 底栏设置 */
.code-editor .footer {
    background-color: hsl(270, 20%, 22%);
}

.apply-code {
    float: right;
    width: 20%;
    line-height: 2;
    text-align: center;
    cursor: pointer;

    font-size: 1.6rem;
    border: none;
    background-color: rgb(77, 207, 77);
    color: white;
}

.apply-code:hover {
    background-color: rgb(112, 226, 112);
}

.apply-code:active {
    background-color: rgb(45, 163, 45);
}