/* 全局设置 */
html,
body {
    font-size: 10px;
    margin: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
}

.renderer {
    position: relative;
    width: 100%;
    height: 100%;
}

.code-editor {
    position: relative;
    width: 100%;
    height: 100%;
    right: 0px;
}

canvas {
    width: 100%;
    height: 100%;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: hsl(270, 10%, 24%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(280, 90%, 50%);
}

::-webkit-scrollbar-track {
    background: hsl(270, 11%, 15%);
}

::-webkit-scrollbar-corner {
    background: hsl(270, 10%, 24%);
}

/* 阿里巴巴iconfont引用 */
@font-face {
    font-family: 'iconfont';
    /* Project id 3404324 */
    src: url('//at.alicdn.com/t/font_3404324_3ebo13w1b0m.woff2?t=1652707067768') format('woff2'),
        url('//at.alicdn.com/t/font_3404324_3ebo13w1b0m.woff?t=1652707067768') format('woff'),
        url('//at.alicdn.com/t/font_3404324_3ebo13w1b0m.ttf?t=1652707067768') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 2px;
    -moz-osx-font-smoothing: grayscale;
}